.hero-section {
  background-color: #f8f8f8;
  height: 97vh;
  position: relative;
  width: 100%;
}

.container {
  margin: 0 auto !important;
  max-width: 133rem !important;
  padding: 0 3.5rem !important;
}
.hero__content__car {
  margin-top: 5rem;
  position: absolute;
  right: 0;
  width: 45%;
}
.hero__content__text {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin-top: 5rem;
  max-width: 50rem;
}
.bg-shape {
  position: absolute;
  margin-top: 5rem;
  right: -50px;
  max-width: 55%;
  opacity: 0.7;
}

.hero__content {
  align-items: center;
  display: flex;
  height: 110vh;
  position: relative;
  width: 100%;
}

.hero__content__text h4 {
  color: #010103;
  font-family: Rubik, sans-serif;
  font-size: 2.2rem;
}

.hero__content__text h1 {
  color: #010103;
  font-family: Poppins, sans-serif;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 2.3rem;
  margin-top: 1rem;
}

.hero__content span {
  color: #ff4d30;
}

.hero__content__text p {
  color: #706f7b;
  font-family: Rubik, sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  margin-bottom: 4rem;
}

.hero__content__btn {
  display: flex;
  font-family: Rubik, sans-serif;
  font-size: 1.6rem;
  gap: 2rem;
}

.hero__content__btn a {
  align-items: center;
  color: #fff;
  display: flex;
  font-weight: 700;
  text-decoration: none;
  white-space: nowrap;
}

.hero__content__btn__book {
  background-color: #ff4d30;
  border: 2px solid #ff4d30;
  border-radius: 0.3rem;
  box-shadow: 0 10px 15px 0 rgba(255, 83, 48, 0.35);
  padding: 1.2rem 1.5rem;
  transition: all 0.3s;
}

.hero__content__btn__book:hover {
  color: black;
  background-color: #ff4224;
  box-shadow: 0 10px 15px 0 rgba(255, 83, 48, 0.8);
}

.hero__content__btn__learn {
  background-color: #010103;
  border: 2px solid #010103;
  border-radius: 0.3rem;
  padding: 1.2rem 1.5rem;
  transition: all 0.3s;
}

.hero__content__btn__learn:hover {
  background-color: white;
  border: 2px solid #010103;
  color: black;
}

@media screen and (max-width: 768px) {
  .hero__content {
    height: auto;
    flex-direction: column;
  }

  .hero__content__text {
    width: 100%;
    margin-top: 9rem;
  }
  .bg-shape,
  .hero__content__car {
    display: none;
  }

  .hero-section {
    height: 112vh;
  }

  .hero__content__btn a {
    justify-content: center;
  }

  .hero__content__btn__book,
  .hero__content__btn__learn {
    padding: 1rem 1rem;
  }

  .hero__content__btn {
    flex-direction: column;
    margin-bottom: 100px;
  }
}
