.hero-section {
  background-color: #f8f8f8;
  height: 97vh;
  position: relative;
  width: 100%;
}

.container {
  margin: 0 auto !important;
  max-width: 133rem !important;
  padding: 0 3.5rem !important;
}
.hero__content__car {
  margin-top: 5rem;
  position: absolute;
  right: 0;
  width: 65%;
  z-index: 2;
}
.bg-shape {
  position: absolute;
  right: 10px;
  top: 80px;
  opacity: 0.7;
}

.hero__content {
  align-items: center;
  display: flex;
  height: 110vh;
  position: relative;
  width: 100%;
}

.hero__content_text {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  max-width: 50rem;
  z-index: 3;
}

.hero__content__text h4 {
  color: #010103;
  font-family: Rubik, sans-serif;
  font-size: 2.2rem;
}

.hero__content__text h1 {
  color: #010103;
  font-family: Poppins, sans-serif;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 2.3rem;
  margin-top: 1rem;
}

.hero__content span {
  color: #ff4d30;
}

.hero__content__text p {
  color: #706f7b;
  font-family: Rubik, sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  margin-bottom: 4rem;
}
