.body-noPage {
  background-color: rgb(250, 215, 62);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-text {
  text-decoration: none;
  color: #000;
}

.button {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0 3px 10px 5px rgba(0, 0, 0, 0.8);
  display: flex;
  font-family: Poppins, sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  justify-content: center;
  margin-top: 1.4rem;
  padding: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s;
  width: 200px;
}
.button:hover {
  color: rgb(250, 215, 62);
  background-color: rgb(255, 228, 108);
  box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.box-noPage {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 80%;
  height: 80%;
  gap: 5rem;
  background-color: rgb(250, 215, 62);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
  position: relative;
  border-radius: 5px;
}
.text {
  display: flex;
  align-items: end;
}

.lader {
  width: 250px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.laptop {
  position: absolute;
  right: -60px;
  top: 0;
  width: 340px;
}

.loader {
  margin-bottom: 0.3rem;
  margin-left: 0.3rem;
  width: 30px;
  aspect-ratio: 4;
  background: radial-gradient(circle closest-side, #000 90%, #0000) 0 /
    calc(100% / 3) 100% space;
  clip-path: inset(0 100% 0 0);
  animation: l1 1s steps(4) infinite;
}
@keyframes l1 {
  to {
    clip-path: inset(0 -34% 0 0);
  }
}

@media screen and (max-width: 768px) {
  .laptop {
    width: 200px;
    right: -30px;
  }
  .box-noPage {
    gap: 1.5rem;
  }
  .button {
    padding: 1rem;
    margin-bottom: 80px;
    white-space: nowrap;
  }
}
